/* Style for Budget Page */
h1 {
    color: #4CAF50;
}

form {
    margin-top: 20px;
}

input[type="number"] {
    padding: 5px;
    font-size: 16px;
    width: 200px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
