/* Style for Budget Page */
h1 {
    color: #4CAF50;
}

form {
    margin-top: 20px;
}

input[type="number"] {
    padding: 5px;
    font-size: 16px;
    width: 200px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


/* Style for Dashboard Page */
.dashboard-summary {
    margin-top: 20px;
}

.overview-item {
    margin-bottom: 20px;
}

h3 {
    color: #4CAF50;
}

.links a {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.links a:hover {
    background-color: #45a049;
}

/* Style for Debt Page */
.debt-list {
    margin-top: 20px;
}

.debt-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.debt-item h3 {
    color: #FF6347;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    padding: 5px;
    font-size: 16px;
    width: 200px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Style for the Goals Page */
.goal-list {
    margin-top: 20px;
}

.goal-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.goal-item h3 {
    color: #FF6347;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    font-size: 16px;
    width: 200px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Basic styling for the Sign-Up page */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error-messages {
    color: red;
    margin-bottom: 20px;
}

.error-messages ul {
    list-style-type: none;
    padding-left: 0;
}

.error-messages li {
    margin-bottom: 10px;
}
